<div id="content">
	<h1>Welcome to Rails App</h1>

	<%= link_to 'Registration', new_user_registration_path %>

	<%= link_to 'Login', new_user_session_path %>

	<%= link_to 'userpage', 'welcome/userpage' %>
</div>
